version: '3.9'

services:
  db:
    image: postgres:16
    container_name: tilo-postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: tilo
    ports:
      - '5432:5432'
    volumes:
      - db-data:/var/lib/postgresql/data
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U postgres -d tilo']
      interval: 5s
      timeout: 5s
      retries: 10

volumes:
  db-data:
